function mkcd {
  if [ ! -n "$1" ]; then
    echo "Enter a directory name"
  elif [ -d $1 ]; then
    echo "\`$1' already exists"
  else
    mkdir $1 && cd $1
  fi
}

# Readd ssh key
# http://apple.stackexchange.com/a/254714/67470
ssh-add -A 2>/dev/null;
